@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="css/home.css">

<div>
    <div class="front-page-pic">
        <h1>Contoso University was made for you!</h1>
    </div>
    <div class="news-feed" id="updates">
        <div class="news-info">
            <img src="images/news.jpg" alt="Contoso University Updates">
            <h2>Updates</h2>
            <p>
                Lorem ipsum dolor, itaque ut laudantium
                maxime cimus os placeat non harum quo, quae, aut qua
                erat molestiae!
            </p>
        </div>
        <div class="news-info">
            <img src="images/campus.jpg" alt="Contoso University Campus">
            <h2>Campus</h2>
            <p>
                Lorem ipsum dolor, itaque ut laudantium
                maxime cimus os placeat non harum quo, quae, aut qua
                erat molestiae!
            </p>
        </div>
        <div class="news-info">
            <img src="images/research.jpg" alt="Contoso University Research">
            <h2>Research</h2>
            <p>
                Lorem ipsum dolor, itaque ut laudantium
                maxime cimus os placeat non harum quo, quae, aut qua
                erat molestiae!
            </p>
        </div>
        <div class="news-info">
            <img src="images/sports.jpg" alt="Contoso University Sports">
            <h2>Sports</h2>
            <p>
                Lorem ipsum dolor, itaque ut laudantium
                maxime cimus os placeat non harum quo, quae, aut qua
                erat molestiae!
            </p>
        </div>
    </div>
    <div class="marketing-image">
        <h2>Contoso University is Proud of having the NUMBER 1 Business Program in the US</h2>
    </div>
    <h2 id="gallery-title">Contoso University Gallery</h2>
    <div class="home-pic-container">
        <div id="pic1"><img src="images/galery/student1.jpeg" alt="Contoso University Gallery"></div>
        <div id="pic2"><img src="images/galery/student2.jpeg" alt="Contoso University Gallery"></div>
        <div id="pic4"><img src="images/galery/student4.jpeg" alt="Contoso University Gallery"></div>
        <div id="pic5"><img src="images/galery/student5.jpeg" alt="Contoso University Gallery"></div>
        <div id="pic6"><img src="images/galery/student6.jpeg" alt="Contoso University Gallery"></div>
        <div id="pic7"><img src="images/galery/student7.jpeg" alt="Contoso University Gallery"></div>

    </div>
</div>