@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto|Roboto+Condensed|Source+Sans+Pro&display=swap');

body{
    margin: 0%;
}

header{
    text-align: center;
    padding-top: 0.5px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    background-color: #1F3748;


}

header nav{
    background-color: #FFFFFF;
    margin-bottom: 0px;
}
header ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
}

header ul li{
    padding: 0.5em 1em ; 
    margin-top: 0px;
    font-size: 20px;
}

nav a{
    text-decoration: none;
    font-weight: 700;
    font-variant: small-caps;
    text-decoration: none;
    letter-spacing: 1.5pt;
    color: #1F3748;
    font-size: 20px;
}

nav li:hover{
    background-color: #F2F2F2;
    border-bottom-style: solid;
    border-width: 3px;
    border-bottom-color: #1F3748;
    margin-bottom: 0px;
}

nav li a:visited {
text-decoration: none;
}


/*Footer*************/

.top-footer{
    background-color: #F6F6F8;
    height: 150px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #1F3748;
}

.top-footer h4{
    font-weight: bold;
    font-variant: small-caps;
    margin-left: 40%;
    color: #000000;
}

.top-footer li{
    list-style-type: none;
    margin-left: 35%;
}

.top-footer a{
    text-decoration: none;
}

.top-footer a:visited {
    text-decoration: none;
    color: #1F3748;
}

.top-footer img{
    border-radius: 50%;
}

footer h2{
    background-color: #58585A;
    color: #FFFFFF;
    margin-top: 0px;
    padding: 1em;
    font-size: 25px;
    text-align: center;
    margin-top: -10px;
}

.top-footer a:link{
    color: #1F3748;
}

.copy-right{
    grid-column: 1/4;
}


/*Responsive******************/
@media screen and (max-width: 770px){
    body{
       margin: 0%;
    }

    nav ul{
        display: block;
        margin-left: -40px;
    }

    .top-footer{
        display: block;
        background-color: #F6F6F8;
        height: 100%;
        padding-top: 0.1em;

    }


}


